@import '../../styles/settings.scss';

label {
  margin: 0 5px;
}

.cardForm {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

@media (max-width: 767px) {
  label {
    margin-bottom: 10px;
  }
  .cardForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
