@import '../../styles/settings.scss';

.navbar {
  background-color: darken($color-dark, 3%);
}

.navbarWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
  .icon {
    font-size: 24px;
    margin-left: 34px;
  }
}

li {
  list-style-type: none;
  display: inline-block;
  margin: 0 20px;
}
.linkActive {
  color: $color-warning;
}
